<h1>Chat</h1>

<ul id="chat">
  <%= render @messages %>
</ul>

<%= form_for Message.new, remote: true do |f| %>
	<%= f.label :name, "#{current_user.name}" %>
  <%= f.text_field :content %>
  <%= f.submit "Send" %>
<% end %>
